@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}
/* a------------- */
.btn {
  text-decoration: none;
  background-color: #0193dc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
}
header {
  background-image: url(images/background.png);
  height: 100vh;
  & .logo img {
    width: 44px;
    height: 53px;
  }
  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    & ul {
      display: flex;
      align-items: center;
      gap: 50px;
      list-style: none;
      & li {
        & a {
          color: #fff;
          text-decoration: none;
          border: 2px solid transparent;
          &:hover {
            border-bottom: #fff 2px solid;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .hero-section {
    margin-top: 20rem;
    padding: 0 10%;
    padding-right: 34%;
    & h1 {
      font-size: 35px;
      color: #ffffff6e;
    }
    & p {
      color: #fff;
      font-size: 40px;
    }
    
  }
}
main{
    .section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 100px 350px;
        & img{
            width: 456px;
        }
    }
}
